@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: outfit;
}
.slider {
  -webkit-appearance: none;
  outline: none;
  height: 100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  background-image: url("/assets/slide_icon.svg");
  background-position: center center;
  width: 30px;
  min-height: 30px;
  background-size: cover;
  background-repeat: none;
}

.bg-layer {
  background-image: url("/assets/bg_layer.png");
  background-size: cover;
}
.cl-internal-4x6jej,
.cl-internal-1hp5nqm {
  display: none !important;
}
